<!DOCTYPE html>
<html>
<head>
	<title>Maintenance Page</title>
</head>
<body>
  {{>header}}

  <h1>{{pageTitle}}</h1>
	<p>Sorry, we are doing some maintenance.</p>
</body>

{{>footer}} <!-- using { { > PartialName } } you can call the partial template -->
<!-- To refresh nodemom when a hbs file is edited, you have to run: "nodemon index.js -e js,hbs" -->
</html>


